<h2>
  Ongi Etorri {{ configuracion.fullName }}
</h2>


<hr />

<label>
  Introduce tu número:
  <input type="number" [(ngModel)]="guess" name="guess" 
  [disabled]="mensaje === 'Has Ganado' || mensaje === 'Has perdido'"/> 
</label>

<button type="button" (click)="enviar()"
[disabled]="mensaje === 'Has Ganado' || mensaje === 'Has perdido'">Enviar</button> 

<p *ngIf="mensaje">{{ mensaje }}</p> 

<p>
  Intentos restantes: {{ intentosRestantes }}
</p>

<!--Botón para volver a jugar -->
<button
  *ngIf="mensaje === 'Has Ganado' || mensaje === 'Has perdido'"
  type="button"
  (click)="volverAJugar()"
>
  Volver a jugar
</button>