<!-- ---------------------------------Campo 1--------------------------------- -->
<h2>Configuración del juego</h2>

<label>
  Nombre y Apellido del jugador
  <input type="text" [(ngModel)]="fullName" name="fullName" />
</label>

<p>Valor actual: {{ fullName }}</p>

<!--Tick verde si correcto -->
<div *ngIf="isNameOk()" style="color: green;">✅ Correcto</div>

<!--Feedback rojo si incorrecto -->
<small *ngIf="!isNameOk()" style="color: red;">
  El nombre no puede estar vacío
</small>

<hr />

<!-- ---------------------------------Campo 2--------------------------------- -->
<label>
  Rango máximo del número aleatorio a generar
  <input type="number" [(ngModel)]="maxRange" name="maxRange" />
</label>

<p>Rango máximo: {{ maxRange }}</p>

<!-- Tick verde si correcto -->
<div *ngIf="isRangeOk()" style="color: green;">✅ Correcto</div>

<!-- Feedback rojo si incorrecto -->
<small *ngIf="!isRangeOk()" style="color: red;">
  El número introducido es menor que el rango mínimo (4)
</small>

<hr />

<!-- ---------------------------------Campo 3--------------------------------- -->
<label>
  Número de intentos que tendrás para adivinar el número
  <input type="number" [(ngModel)]="maxAttempts" name="maxAttempts" />
</label>

<p>Número de intentos: {{ maxAttempts }}</p>

<!-- Tick verde si correcto -->
<div *ngIf="isAttemptsOk()" style="color: green;">✅ Correcto</div>

<!-- Feedback rojo si incorrecto -->
<small *ngIf="!isAttemptsOk()" style="color: red;">
  Debes indicar el número de intentos
</small>

<!-- ---------------------------------Boton--------------------------------- -->
<button
  type="button"
  (click)="recogerDatos()"
  [disabled]="!canRecogerDatos()"
>
  Recoger datos
</button>